<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PackagingMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PackagingMachine.Properties.Settings>
            <setting name="HisConnectionString" serializeAs="String">
                <value>Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;</value>
            </setting>
            <setting name="FireBirdConnectionString" serializeAs="String">
                <value>data source=127.0.0.1;server type=Default;initial catalog=mddb;user id=SYSDBA;password=masterkey;character set=NONE;pooling=True</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </PackagingMachine.Properties.Settings>
    </userSettings>
</configuration>
